{% extends 'base.html' %}

{% block title %}Manchester United | News{% endblock %}

{% block content %}
  <h2 class="mb-4">TODAY ON MANUTD.COM</h2>

  <div class="row">
      {% for article in articles %}
      <div class="col-md-4 mb-4">
          <div class="card shadow-sm">
              <img src="{{ article.image.url }}" class="card-img-top" height="200">
              <div class="card-body">
                  <span class="badge bg-dark">{{ article.category.name }}</span>
                  <h5 class="mt-2">{{ article.title }}</h5>
                  <p>{{ article.content|truncatewords:15 }}</p>
                  <a href="{% url 'detail_url' article.pk %}" class="btn btn-danger btn-sm">Read More</a>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>

{% endblock %}
